.page-header
  %h1 Like this (or like that)

%table.table.table-striped
  %thead
    %tr
      %th Item
      %th Body

  %tbody
    - @items.each do |item|
      %tr
        %td= item.item
        %td= item.body

        %td= link_to 'Like', like_item_path(item), method: :put
        %td= item.get_upvotes.size
        %td= link_to 'Dislike', dislike_item_path(item), method: :put
        %td= item.get_downvotes.size
        %br
        - if user_signed_in?
          %td= link_to 'Edit', edit_item_path(item)
          %td= link_to 'Delete', item, method: :delete, data: { confirm: 'Are you sure?'}
        %td.text-muted Item submitted: #{item.created_at.strftime("%B %d, %Y")} by #{item.user.email}