.col-md-10.col-md-offset-1

	.page-header

		%h1 Like this (or like that)

	= render 'table'
	
	%br
	- if user_signed_in?

		- if @counter.votes_for.size >= (User.all.count)/2.round(3)
			%br
			%p <strong> THE POWER TO RESET IS YOURS! </strong>
			= link_to "RESET VOTES", reset_path, class: "btn btn-default"
			= link_to "CLEAR ALL ITEMS ON THE LIST", item_reset_path, class: "btn btn-default"
		- else
			%p
				These items are no good :(
				%br
				%br
				- if @counter.voted_on_by? current_user
					= link_to "On second thought, lets make this work!", unvote_reset_path, class: "btn btn-default"
				- else
					= link_to "I say we start over!", vote_reset_path, class: "btn btn-default"
				%br
				.text-muted
					(Oh but we make decisions by conensus! We need at least 50% of user votes. We currently have
					= @counter.votes_for.size
					of 
					= (User.all.count)/2.round(2)
					votes)

